{% extends 'bootstrap/base.html' %}

{% block title %}
  Amazon Product Review Search
{% endblock %}

{% block content %}
<div style="padding: 0 10%;">
<h1>Review Search</h1>
{% if templatename != '' %}
<p>
  Welcome back {{templatename}}
</p>
{% endif %}

<p class="font-italic">Total reviews indexed: <mark>{{get_reviews_numbers()}}</mark></p>
<p class="font-italic">Total Amazon products indexed: <mark>{{get_products_numbers()}}</mark></p>

<p>Click <a href="{{ url_for('search_form') }}">here</a> to start searching</p>
</div>
{% endblock %}