{% extends 'index.html' %}

{% block content %}
<div style="padding: 0 10%;">
<h1>Product Details</h1>

{% if doc=='' %}
<h3>Sorry, no matches for {{asin}}</h3>
{% else %}
<ul class="list-group">
    <li class="list-group-item"> 
        <dl>
            <dt>ASIN:</dt>
            <dd>{{doc['asin']}}</dd>
        </dl>
    </li>
    <li class="list-group-item">
        <dl> 
            <dt>Product Name:</dt>
            <dd>{{doc['title']}}</dd>
        </dl>
    </li>
    {% if doc['description'] %}
    <li class="list-group-item">
        <dl>
            <dt>Product Description:</dt>
            <dd>{{doc['description']}}</dd>
        </dl>
    </li>
    {% endif %}
    {% if doc['price'] %}
    <li class="list-group-item"> 
        <dl>
            <dt>Price:</dt>
            <dd>${{doc['price']}}</dd>
        </dl>
    </li>
    {% endif %}
</ul>
{% endif %}

<a href="{{request.headers.get('Referer')}}" class="btn btn-primary" role="button">Back</a>
</div>
{% endblock %}