{% extends 'index.html' %}

{% block content %}
<style type="text/css">
	table, th, td { border: 1px solid black;}
</style>
{% block h1 %}
{% if h1 %}{{ h1 }} -<h1>Review Search Results</h1>{% endif %}
{% endblock %}
<table class="table-striped table-condensed table-bordered" style="margin-left: auto; margin-right: auto">
<tr><th>Name</th><th>Score</th><th>Summary</th><th></th></tr>
{% for doc in results['docs'] %}
<tr>
<td><a href="{{url_for('product_lookup', asin=doc['asin'])}}">{{search_title(doc['asin'])}}</a></td>
<td>{{doc['overall']}}</td>
<td>{{doc['summary']}}</td>
<td><a href="{{url_for('review_lookup', id=doc['id'])}}">Details</a></td>
</tr>
{% endfor %}
</table>

<br/>
<div style="
	padding: 0 70px ;
	text-align: center;
  "></div>
{% if start > 0 %}
<a href="{{url_for('search_results', k=k, start=start-10)}}" class="btn btn-primary" role="button">Previous</a>
{% endif %}
{% if start + 10 < results['numFound'] %}
<a href="{{url_for('search_results', k=k, start=start+10)}}" class="btn btn-primary" role="button">Next</a>
{% endif %}
</div>


<h4> Showing {{start+1}} to {{start+10}} of {{results['numFound']}} Matches</h4>

<a href="{{url_for('search_form')}}">New Search</a>

<h3>Quick Options</h3>
<table class="table-condensed table-bordered table-striped">
	<th>Faceting</th></tr>
	<tr>
		<td>
			<table class="table-condensed table-bordered table-striped">
				<tr><th>Score</th><th>Count</th></tr>
				<tr>
					{% if facets['facet_fields']['overall'][1] %}
					<td>{{facets['facet_fields']['overall'][0]}}</td>
					<td>{{facets['facet_fields']['overall'][1]}}</td>
					<td><a href="{{url_for('search_results', k=k, t=1, start=start)}}">View</a></td>
					{% endif %}
				</tr>
				<tr>
					{% if facets['facet_fields']['overall'][3] %}
					<td>{{facets['facet_fields']['overall'][2]}}</td>
					<td>{{facets['facet_fields']['overall'][3]}}</td>
					<td><a href="{{url_for('search_results', k=k, t=2, start=start)}}">View</a></td>
					{% endif %}
				</tr>
				<tr>
					{% if facets['facet_fields']['overall'][5] %}
					<td>{{facets['facet_fields']['overall'][4]}}</td>
					<td>{{facets['facet_fields']['overall'][5]}}</td>
					<td><a href="{{url_for('search_results', k=k, t=3, start=start)}}">View</a></td>
					{% endif %}
				</tr>
				<tr>
					{% if facets['facet_fields']['overall'][7] %}
					<td>{{facets['facet_fields']['overall'][6]}}</td>
					<td>{{facets['facet_fields']['overall'][7]}}</td>
					<td><a href="{{url_for('search_results', k=k, t=4, start=start)}}">View</a></td>
					{% endif %}
				</tr>
				<tr>
					{% if facets['facet_fields']['overall'][9] %}
					<td>{{facets['facet_fields']['overall'][8]}}</td>
					<td>{{facets['facet_fields']['overall'][9]}}</td>
					<td><a href="{{url_for('search_results', k=k, t=5, start=start)}}">View</a></td>
					{% endif %}
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}
<!-- <ul>
{% if start + 10 < results['numFound'] %}
<li><a href="{{url_for('search_results', k=k, t=t, start=start+10)}}">Next</a></li>
{% else %}
<li>Next</li>
{% endif %}
{% if start > 0 %}
<li><a href="{{url_for('search_results', k=k, t=t, start=start-10)}}">Previous</a></li>
{% else %}
<li>Previous</li>
{% endif %}
</ul> -->
